html{
    scroll-behavior: smooth;
    }


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #353535;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}
h2 {
    text-align: center;
}
.designer img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.designer{
    margin-top: 50px;
}
.designer-details {
    margin-left: 20px;
}
.designer-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 60px;
}
.designer-title {
    font-style: italic;
    color: #fff;
    margin-left: 50px;
}
.designer-bio {
    margin-top: 10px;
    text-align: justify;
}

footer{
    margin-top: 50px;
}

footer p{
    color: #fff;
}
